$drag-frame : #106cc8; // material color
$main-accent-Color: #106cc8;// material color
$main-background-Color: rgb(255, 255, 255);
$shadow : 0px 5px 10px -2px rgba(135, 135, 135, 0.5);

$text-color: #6e6e6e;
$brush-size-color: rgb(255, 255, 255);
$brush-color: #106cc8; // material color
$brush-color-hover: #106cc8; // material color
$brush-color-active: #dddddd;

$divider : #dddddd;

$slider-track-bgColor: #e0e0e0;

$tool-panel-padding: 5px;
$tool-panel-margin: 5px;
$tool-module-margin: 5px;
$tool-module-component-margin: 5px;
$tool-module-outline: #dddddd;
$tool-module-outline-dark: #000;
$tool-btn-bgColor: rgba(0, 0, 0, 0);

$border-radius: 5px;
$component-border-radius: 10px;

$zindex-main-panel: 50;
$zindex-sub-panel: 40;
